@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@{
    ViewData["Title"] = "Menú";
}

<h1>Bienvenido al Menú</h1>

<div class="text-center">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/AgregarLibro">Agregar Libro</a></li>
        <li class="list-inline-item"><a href="/ModificarLibro">Modificar Libro</a></li>
        <li class="list-inline-item"><a href="/EliminarLibro">Eliminar Libro</a></li>
        <li class="list-inline-item"><a href="/ConsultarBD">Consultar BD</a></li>
        <li class="list-inline-item"><a href="/AgregarUsuario">Agregar Usuario</a></li>
    </ul>
</div>
